.App {
  text-align: center;
}

.App-logo {
  width: 30px;
  vertical-align: top;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

@media only screen and (max-device-width: 480px) {
  .App-header {
    padding: 1px;
  }
}

.App-body {
  width: 80%;
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  .App-body {
    width: 95%;
  }
}

.App-search {
  margin: 1%;
  margin-top: 30px;
}

.App-search-results {
  text-align: left;
  margin-top: 20px;
}

@media only screen and (max-device-width: 480px) {
  .App-search,
  .App-search-results {
    margin-top: 10px;
  }
}

.App-search-input {
  height: 2em;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  font-size: 1.5em;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 2px solid #ccc;
  border-radius: 8px;
}

@media only screen and (max-device-width: 480px) {
  .App-search-input {
    font-size: 1.1em;
  }
}
