@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200');


/* Body */

body {
  background-color: #fafafa;
}

body, input {
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  text-align: center;
}


/* Header */

.App-header {
  /*background-color: #f3f3f3;*/
  color: gray;
  margin-top: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma');

.App-header {
  font-family: 'Baloo Tamma', cursive;
}

@media only screen and (max-device-width: 480px) {
  .App-header {
    padding: 1px;
  }
}

/* Title */

.App-title {
  font-size: 1.5em;
  font-weight: normal;
  height: 1.5em;
  display: inline-block;
  margin: 0;
  color: silver;
}

/* Logo */

.App-logo {
  width: 25px;
  vertical-align: top;
  padding-top: 0.3em;
  padding-right: 0.5em;
  display: inline-block;
}

/* Body */

.App-body {
  width: 80%;
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  .App-body {
    width: 95%;
  }
}

.App-motto {
  display: inline-block;
  vertical-align: top;
  margin-top: -10px;
}

.App-search {
  margin-top: 1em;
}

.App-search-results {
  text-align: left;
  margin-top: 20px;
}

@media only screen and (max-device-width: 480px) {
  .App-search,
  .App-search-results {
    margin-top: 10px;
    text-align: center;
  }
}

.App-search-input {
  height: 2em;
  width: 11em;
  padding: 10px;
  padding-left: 15px;
  font-size: 1em;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 1px solid #ededed;
  border-radius: 8px;
}

.App-search-input:focus {
  outline: none;
  border-color: #ed4c5c;
}

@media only screen and (max-device-width: 480px) {
  .App-search-input {
    font-size: 1.5em;
    width: 97%;
  }
}

/* Footer */

.App-footer {
  width: 100%;
  padding: 2em 0;
  font-size: 0.8em;
}

@media only screen and (max-device-width: 480px) {
  .App-footer {
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    background-color: #fafafa;
    border-top: solid 1px #ededed;
  }
}


.App-footer * {
  color: silver;
}

/* Copyleft symbol */

.Copyleft {
  transform: scale(-1, 1);
  display: inline-block;
}