.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-body {
  width: 80%;
  display: inline-block;
}

.App-search {
  margin: 1%;
  margin-top: 30px;
}

.App-search-label {
  display: none;
}

.App-search-input {
  height: 2em;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  font-size: 1.5em;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.App-search-results {
  text-align: left;
  margin-top: 20px;
}

.Emoji {
  width: 20%;
  background-color: #efefef;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 100px;
  margin: 2.5%;
}

.Emoji-emoji {
  font-size: 2.5em;
}

.Emoji-description {
  margin: 5px;
}
